*{
	;
	width: 100% auto;
	margin:0 auto;
}
body {

	/*font-family: 'Roboto', sans-serif;*/
}
/**home**/
.jumbotron {
	height:100vh;
}





}

.carousel{ 
padding:0;
margin:0;}

.carousel-item {
	height:100px;
	width: auto;
}

.d-block{
	height: 100px;
	width: 100%;
	margin:0px;
}


.card-deck{
padding:0;
margin:0;
}



.collapse { 
margin: 0;
padding:0; 
}



.about1 {
	text-align:center;
	
}

.about2 {
	text-align:left;
	
}


/*contact*/



/*gallery*/

/**navbar**/
.navbar { 
	height: 150px;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
}
#logo {
	width:auto;
	font-color: white;
	font-size:80px;
}

.navbar-brand {
	font-size: 30px;
	font-color: black;
	padding:0;
	margin: 0;
}

#header{
	height:100px;
}
